/***********************************************
* NASLOV EDIT STRANE
***********************************************/

.edit_header {

	text-align: left;
	font-weight: bold;
	padding-top: 30px;
	margin-top: 0px;
	margin-left: 14%;
	color: #b53c06;
}

/***********************************************
* PODACI
***********************************************/

.email {

	margin-left: 50px;
	width: 30%;
	color: white;
}

.name {

	margin-left: 50px;
	width: 30%;
	color: white;
}

.password {

	margin-left: 50px;
	width: 30%;
	color: white;
	font-weight: bold;
}

.confirmation {

	margin-left: 50px;
	width: 30%;
	color: white;
}

.current {

	margin-left: 50px;
	width: 30%;
	color: white;
	font-weight: bold;
}


/***********************************************
* EDIT h3
***********************************************/

.edit_h3 {

	text-align: left;
	margin-top: 10px;
	margin-left: 50px;
	width: 30%;
	color: white;
}

/***********************************************
* BOTTOM OF THE PAGE
***********************************************/

.p_bottom {

	text-align: left;
	margin-left: 50px;
	width: 30%;
	color: white;
	font-weight: bold;
}

.p2_bottom {

	text-align: left;
	margin-left: 50px;
	width: 30%;
	color: #333333;
}

.back {

	text-align: left;
	padding-top: 6px;
	color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
	width: 30%;
}

.back :hover {

	color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
	width: 30%;
}

.update {

	text-align: left;
	margin-left: 50px;
	width: 30%;
}

/***********************************************
* NAVBAR
***********************************************/

.navbar-collapse {

	background-color: black;
	border: 0px !important;
	border-color: black !important;
}

.container-fluid {

	padding-right: 0px !important;
	padding-left: 0px !important;
}

.navbar-default {

	border: 0px !important;
}


.navbar-default .navbar-nav > li > a {
    color: white !important;
}

.navbar-default .navbar-brand {

    color: white !important;

}



