/***********************************************
* NASLOV EDIT STRANE
***********************************************/

.edit_header {

	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	margin: 0 auto;
}

/***********************************************
* PODACI
***********************************************/

.email {

	padding-left: 30%;
	padding-right: 30%;
}

.name {

	padding-left: 30%;
	padding-right: 30%;
}

.password {

	padding-left: 30%;
	padding-right: 30%;
}

.confirmation {

	padding-left: 30%;
	padding-right: 30%;
}

.current {

	padding-left: 30%;
	padding-right: 30%;
}

/***********************************************
* EDIT h3
***********************************************/

.edit_h3 {

	text-align: center;
	margin-top: 10px;
}

/***********************************************
* BOTTOM OF THE PAGE
***********************************************/

.p_bottom {

	text-align: center;
}

.p2_bottom {

	text-align: center;
}

.back {

	text-align: center;
	padding-top: 6px;
	color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.back :hover {

	color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.update {

	text-align: center;
}



