.svi_linkovi {
	padding-top: 10px;
}

.svaki_link {
	min-height: 300px;
	max-height: 300px;
}

.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  max-height: 100px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.thumbnail {
  margin-top: 10px;
}