*{margin: 0; padding: 0;}

#naslov{
	margin-left: 100px;
	color: #b53c06;
}

#back{
	color: #03324e;
	margin-left: 100px;
	font-size: 1.2em;
}

.title{
	color: #b53c06;
	width: 30%;
	margin-left: 100px;
	margin-top: 50px;
	
}

.url{
	color: #b53c06;
	width: 30%;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 150px;
}

.slika{
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 150px;
}

.submit{
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 20px;	
}




